DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=metacto
POSTGRES_USER=metacto
POSTGRES_PASSWORD=metacto
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

REDIS_URL=redis://127.0.0.1:6379/0

JWT_SIGNING_KEY=change-me

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8081
